# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
helpers/fb-credentials.js
Haiku.Flow.API/Haiku.Flow.API.Web/bin/
Haiku.Flow.API/Haiku.Flow.API.Web/obj/
Haiku.Flow.API/Haiku.Flow.API.Infrastructure/obj/
Haiku.Flow.API/Haiku.Flow.API.Data/obj/
Haiku.Flow.API/Haiku.Flow.API.Infrastructure/bin/
Haiku.Flow.API/Haiku.Flow.API.Core/obj/
Haiku.Flow.API/Haiku.Flow.API.Data/bin/
Haiku.Flow.API/.vs/
Haiku.Flow.API/Haiku.Flow.API.Core/bin/
Haiku.Flow.API/Haiku.Flow.API.Web/.config/
Haiku.Flow.API/Haiku.Flow.API.Web/Database.sqlite
